-
  var meta = {
    title: "Oliver",
    url: "https://oliver.ru",
    image: "/images/cover.jpg",
    description: "Oliver.",
  }

  var wideSlider = [
    {
      title: "Бизиборды",
      text: "помогут в развитии<br> Вашего ребенка",
      icon: "lamp",
      bg: "1.jpg"
    },
    {
      title: "Бизиборды",
      text: "помогут в развитии<br> Вашего ребенка",
      icon: "lamp",
      bg: "1.jpg"
    },
    {
      title: "Бизиборды",
      text: "помогут в развитии<br> Вашего ребенка",
      icon: "lamp",
      bg: "1.jpg"
    }
  ]

  var catalogYears = ["До 1,5 лет", "1,5-3 года", "3-5 лет", "5-8 лет", "Более 8 лет"]

  var filterBrands = ["Indie Toys", "Busy Kids", "Умница", "Бренд", "Бренд", "Бренд", "Бренд"]

  var catalogSorting = ["Цене", "Алфавиту", "Популярности"]

  var ourProducts = ["качалки", "Бизидомики", "Развивающие наборы", "Вигвамы"]

  var categories = [
    {
      title: "Бизиборды",
      key: "#",
      childs: [
        {
          title: "Бизиборды"
        },
        {
          title: "Бизиборды"
        },
        {
          title: "Бизиборды"
        },
        {
          title: "Бизиборды"
        },
        {
          title: "Бизиборды"
        }
      ]
    },
    {
      title: "Качалки",
      key: "#"
    },
    {
      title: "Кирпичи",
      key: "#"
    },
    {
      title: "Развивающие наборы",
      key: "#"
    },
  ]