@import 'inc/var.sss'
@import 'inc/fonts.css'

@import 'inc/reset.css'
@import 'inc/typo.sss'
@import 'inc/grid.sss'
@import 'inc/btn.sss'
@import 'inc/form.sss'
@import 'inc/style.sss'
@import 'inc/icons.sss'

@import 'blocks/footer.sss'
@import 'blocks/slider.sss'
@import 'blocks/catalog.sss'
@import 'blocks/filter.sss'
@import 'blocks/our-products.sss'
@import 'blocks/advantages.sss'
@import 'blocks/about.sss'
@import 'blocks/header.sss'

