extends layouts/layout.pug

block title
  title Главная | Oliver

block content
  include blocks/slider.pug
  include blocks/catalog.pug
  include blocks/our-products.pug
  include blocks/advantages.pug
  include blocks/about.pug
