extends layouts/layout.pug

block title
  title Стиль | Oliver

block content
  .style
    a.btn(href="#!") Ссылка
    a.btn.btn--outline(href="#!") Ссылка
    a.btn.btn--secondary(href="#!") Ссылка
    a.btn.btn--secondary.btn--outline(href="#!") Ссылка
